.vscode/
.vs/
src/NetCoreIoCAutoRegister/bin/
src/NetCoreIoCAutoRegister/obj/
demo/NetCoreIoCAutoRegister.Demo/bin/
demo/NetCoreIoCAutoRegister.Demo/obj/
tests/NetCoreIoCAutoRegister.UnitTests/bin/
tests/NetCoreIoCAutoRegister.UnitTests/obj/